.boolean-display {
  /* не отображать само значение true|false */
  span {
    display: none;
  }

  &[data-state] {
    padding: 4px;
  }

  &[data-state="false"] {
    background: red;
  }

  &[data-state="true"] {
    background: green;
  }

  &[data-state="null"] {
    background: yellow;
  }
}
