@import "pikaday/css/pikaday.css";

/* from node_modules */

/* This plugin attempts to follow the CSS @import spec; @import statements must precede all other statements (besides @charset). */

.date-input {
  cursor: pointer;

  /* http://stackoverflow.com/questions/11320615/disable-native-datepicker-in-google-chrome */
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &::-webkit-input-placeholder {
    visibility: hidden !important;
  }

  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  &:invalid::-webkit-datetime-edit {
    color: #ccc;
  }
}
