/**
  Элемент представления: содержит правила исключительно для визуального представления - никакой бизнес-логики. Бизес-правила позже применяются поверх визуальных правил.
  Например расположение подэлементов - это бизнес-правило
  Визуальные правила - общие для всех элементов данного типа - вне зависимости - где и как они применяются на сайте. Подобно базовым стилям, встроенным в веб-браузер.
*/

.prop-row {
  margin: 0;
  padding: 0;
  border: 0;

  > h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  > label {
    font-size: 1rem;
    color: #555;
  }

  > input[type="radio"] {
    padding: 0;
  }
}
